*~
ABOUT-NLS
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.status
configure
debian/dctrl-tools
debian/dctrl-tools.debhelper.log
debian/dctrl-tools.substvars
.deps
.dirstamp
INSTALL
*.la
libdctrl.a
.libs
libtool
*.lo
*.log
m4/*
Makefile
Makefile.in
*.o
stamp-h1
